

/* Base Colors */
$primary-color: theme-color("primary");
$secondary-color: theme-color("secondary");

//box-shadow

// Z-index

// Gradients

// borders

// Image Path
$image-base-path: "../images/";
$icon-sprite: "#{$image-base-path}icon-sprite.svg";
