
@mixin before-after {
	position: absolute;
	display: block;
	content: "";
}
@mixin common-img($objFit: contain) {
	width: 100%;
	height: 100%;
	object-fit: $objFit;
}
@mixin line-clamp($numberOfLines: 3) {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $numberOfLines;
	text-overflow: ellipsis;
}
@mixin form-auto-fill-color($color) {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-text-fill-color: $color;
	}
}
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}

}
@mixin line-fill($duration: 0.3s, $top: 0, $bottom: auto, $height: 5px) {
	@include media-breakpoint-up(lg) {
		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
	position: relative;
	&::after {
		@include before-after;
		z-index: 1;
		top: $top;
		bottom: $bottom;
		left: 0;
		width: 0;
		height: $height;
		background: $tabs-section-gradient-line-animator;
		transition: width $duration ease-in-out;
	}
}
@mixin scroll-bar($thumb-color: var(--lava), $bar-color: var(--greyish)) {
	@supports (-moz-appearance: none) {
		scrollbar-width: thin;
	}
	scrollbar-color: $thumb-color;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		width: 5px;
		border-radius: 10px;
		background: $bar-color;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: $thumb-color;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: rgba($thumb-color, 0.75);
	}
}
@mixin form-styles {}
